html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
  position: relative;
  color: #fff;
}

a {
  color: #FFF;
}

.container{
	
	height: 100%;
	width: 100%;
	position: relative;
}
.overlay{
	position: absolute;
	background-image: url('/images/disconnected.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	z-index: 10;
}
.video{
	height: 100%;
	width: 100%;
	text-align: center
}

.video video{
	height: 100%;
	width: auto;
	z-index: 1;
	margin: 0 auto;
	text-align: center
}